/* Reset de estilos para remover margens e preenchimento padrão */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

body, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #857f7f; /* Cor de fundo da barra de navegação */
    color: #fff; /* Cor do texto */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    font-family:'Kalam', cursive; 

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #000000;
    transition: color 0.3s;
    font-size: 18px;
}

.menu a:hover {
    color: #b10a0a;
}



/* Estilos para a barra de navegação (pode reutilizar o CSS existente) */
/* ... (código CSS existente) ... */

/* Estilos para a seção "Home" */
.home {
    text-align: center;
    padding: 100px 0;
    background-image: url('img/Home.png'); /* Substitua com a imagem de fundo desejada */
    background-size: cover;
    color: #d6d6d6;
}

.home h1 {
    font-size: 55px;
    margin-bottom: 100px;
}

.home p {
    font-size: 33px;
    margin-bottom: 30px;
    font-family:cursive;
}


/* Estilos para o botão "Reserve Agora" */
.reserve-button {
    background-color: #ff07074b;
    color: #fff;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 22px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; 

}

.reserve-button:hover {
    background-color: #640404;
}

.reserve-button a {
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.reserve-button a:hover {
    text-decoration: underline;
    text-decoration: none; 
}

/*Íconde de interrogação*/

.icone-em-negrito{
    font-weight: bolt; /* Aplica negrito ao Ícone*/
    color: #f70000;  /*Define a cor do ícone*/
    cursor: pointer; 
    position: fixed; 
    right: 5%; 
    top: 15%; 
    transition: color 0.3 ease; 
    
}

.icone-em-negrito:hover{
    color:#be0404;
}


/*Botão Whatsapp*/

.whats{
    position:fixed; 
    bottom: 30px;
    right: 30px; 
    z-index: 9999;
    
}

/* Estilos para o rodapé */
footer {
    background: linear-gradient(to bottom, #333, #000);
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    font-size: 24px;
    margin: 0 10px;
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .reserve-button{
        margin-right: 0;
        margin-bottom: 10px;
    }


    .icone-em-negrito{
        font-size: 1.5em; /* Reduz o ta,amho do icone em telas menores*/
    }

}