/* Estilos gerais para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção de reservas */
.reserva {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

p{
    text-align: center; 
}

/* Estilos para os métodos de pagamento */
.metodos-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metodo {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
